body{
	background-color: #a1c2e6;;
	/*background-image: url('/images/WebpageBackground2.jpg');*/
	background-size: 220%;

}

.containerBody{
	width: 100%;
	height: 100%;
	background-image: url('/images/WebpageBackground2.jpg');
	background-repeat: no-repeat;
	background-size: 220%;
}

#carouselContainer {
  margin: 0 auto;
	margin-bottom: 5%;
  width: 90%;
  color: #333;
  background: #1976D2;
	min-width: 300px;
	max-width: 1000px;

	-webkit-box-shadow: inset 4px 4px 42px 2px rgba(0,0,0,0.39);
	-moz-box-shadow: inset 4px 4px 42px 2px rgba(0,0,0,0.39);
	box-shadow: inset 4px 4px 42px 2px rgba(0,0,0,0.39);
}


h1{
	font-size: 5em;
	font-family: 'Quando', serif;
	color: #1976D2;
	text-align: center;
	margin-bottom: 0.5em;
}
h2{
	font-size: 4em;
	font-family: 'Quando', serif;
	text-align: center;
	margin-bottom: 0.5em;
}
p1{
	font-size: 1.2em;
	font-family: 'Judson', serif;
	text-align: justify;
	color: #B6B6B6;
}
p2{
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
	color: #B6B6B6;
}

.block{
	text-align: center;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	padding: .2em;

	color: #B6B6B6;
	background-color: rgb(33,33,33);
	background-color: rgba(33,33,33,0.8);

	-webkit-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	-moz-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
}

.social {
   margin: 0px 15px;
}

.posters{
	display: block;
	max-width: 300px;
	padding: 10%;
	margin-left: auto;
	margin-right: auto;
}

.titlePicture {
	margin-top: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.gamePicture {
	display: block;
	margin-top: 5px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.playStore img{
	margin: 15px 60px;
	margin-bottom: 0px;
	width: 60%;
}

.mainContainer{
	text-align: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1000px;

	color: #B6B6B6;
	background-color: rgb(33,33,33);
	background-color: rgba(33,33,33,0.8);
	padding: 5em;
	font-family: 'Roboto Condensed', sans-serif;

	-webkit-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	-moz-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
}

#gallery_container{
  max-height: 700px;
  overflow-y: scroll;
}

.mainContainer p1{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.projectContainer{
	margin-left:auto;
  margin-right: 5%;
  width: 90%;
  position: static;
}

.info{
	text-align: center;
	width:50%;
	float: left;
	padding-right: 20px;
}

.middleInfo{
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

.info p1,
.middleInfo p1{
	color: #e5e5e5;
}

.projectPictures{
	float:left;
	display:inline-block;
}

.projects{
  width: 90%;
  margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.footer{
	color: #B6B6B6;
	/*background-color: #212121;
	background-color: rgba(33,33,33,0.8);*/
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 3em;
	position: fixed;
	bottom: 0px;
	padding: 1em;
	text-align: right;
	/*-webkit-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	-moz-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);*/
}


.navBarDark{
	background-color: rgba(33,33,33,0.8);
	border-radius: 0;
	font-family: 'Roboto', sans-serif;
	border: 0px;
	background-color: #212121;
	background-color: rgba(33,33,33,0.8);
	-webkit-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	-moz-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
}

.navBrand{
	font-family: 'Quando', sans-serif;
	color: #FFFFFF;

}

.navigationLink{
	color: red;
	width: 7em;
	font-size: 1em;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

.navItem:hover{
	color: white;
}

.navItem{
	color: #B6B6B6;
}
/* Preload images */
body:after {
  content: url(images/close.png) url(images/loading.gif) url(images/prev.png) url(images/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-button{
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgb(33,33,33);
  background-color: rgba(33,33,33,0.8);
  border-radius: 5px;

 }
::-webkit-scrollbar-track-piece{
  border-radius: 5px;
 }
::-webkit-scrollbar-thumb{
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
 }
